.user-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.user-item img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
