.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: 0.125rem solid black;
}

.header a {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.header a:hover {
  color: lightseagreen;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header ul li {
  display: inline-block;
  margin: 1rem;
}

.logout {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout a {
  font-size: medium;
  margin-top: 1rem;
}

.user-logout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-logout img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
